<p>Estimado/a {{userName}},</p>
<p>Hemos recibido una solicitud de recuperaci칩n de cuenta para {{email}}</p>
<p>Si inici칩 esta solicitud, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">haga clic en este enlace para restablecer su contrase침a.</a> Si no ha iniciado esta solicitud, ignore este correo electr칩nico.</p>
<p>Saludos cordiales,</p>
