<p>Шановний/на {{userName}},</p>
<p>Ми отримали запит на відновлення облікового запису для {{email}}</p>
<p>Якщо це ви робили запит, <a href="{{client_server}}/newpassword?email={{email}}&key={{key}}">перейдіть за цим посиланням.</a> Якби це були не ви, просто проігноруйте цей лист.</p>
<p>найкращими побажаннями,</p>
