<p>New support case:</p>
<p>ID: {{info._id}}</p>
<p>Email: {{email}}</p>
<p>Language: {{lang}}</p>
<p>Subject: {{info.subject}}</p>
<p>Description: {{info.description}}</p>
<p>Files: {{info.files}}</p>
<p>Date: {{info.date}}</p>
